pipeline/Primer.json
{
	"name": "Primer",
	"properties": {
		"activities": [
			{
				"name": "IfPausedThenOnline",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals('Online',string(activity('GetStatus').output.properties.status)))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Resume",
							"description": "Start",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'/resume?api-version=2018-06-01-preview')",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "@string('')",
									"type": "Expression"
								},
								"linkedServices": [],
								"datasets": [],
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						}
					]
				}
			},
			{
				"name": "GetStatus",
				"description": "Start",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
						"type": "Expression"
					},
					"method": "GET",
					"body": {
						"value": "@string('')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			},
			{
				"name": "UntilOnline",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "IfPausedThenOnline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals('Online',string(activity('GetStatusOnline').output.properties.status))\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetStatusOnline",
							"description": "Start",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
									"type": "Expression"
								},
								"method": "GET",
								"body": {
									"value": "@string('')",
									"type": "Expression"
								},
								"linkedServices": [],
								"datasets": [],
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "wipeDW",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UntilOnline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.wipe"
				},
				"linkedServiceName": {
					"referenceName": "dw",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "execLeads",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "wipeHS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Leads",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "wipeHS",
				"description": " ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "wipeDW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[wipe]"
				},
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "execTrollhunters",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "wipeHS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Trollhunters",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "IfOnlineThenPause",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "execTrollhunters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals('Online',string(activity('GetStatusOnline').output.properties.status))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Pause",
							"description": "Pause",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'/pause?api-version=2018-06-01-preview')",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "@string('')",
									"type": "Expression"
								},
								"linkedServices": [],
								"datasets": [],
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "eaab21d5-8ecd-4ef0-a0c4-92fac2e22875"
			},
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "dw"
			},
			"Server": {
				"type": "string",
				"defaultValue": "hiramdw"
			},
			"DW": {
				"type": "string",
				"defaultValue": "dw"
			}
		},
		"annotations": []
	}
}