pipeline/Primer.json
{
	"name": "Primer",
	"properties": {
		"activities": [
			{
				"name": "IfPausedThenOnline",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetStatus",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals('Online',string(activity('GetStatus').output.properties.status)))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Resume",
							"description": "Start",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'/resume?api-version=2018-06-01-preview')",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "@string('')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						},
						{
							"name": "ScaleAPI",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Resume",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
									"type": "Expression"
								},
								"method": "PUT",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@concat('{\"location\":\"eastus2\",\"properties\":{\"requestedServiceObjectiveName\": \"',pipeline().parameters.SLO,'\"}}')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						}
					]
				}
			},
			{
				"name": "GetStatus",
				"description": "Start",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
						"type": "Expression"
					},
					"method": "GET",
					"body": {
						"value": "@string('')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			},
			{
				"name": "UntilOnline",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "IfPausedThenOnline",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals('Online',string(activity('GetStatusOnline').output.properties.status))\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetStatusOnline",
							"description": "Start",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
									"type": "Expression"
								},
								"method": "GET",
								"body": {
									"value": "@string('')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "wipeDW",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UntilOnline",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.wipe"
				},
				"linkedServiceName": {
					"referenceName": "dw",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "execLeads",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "wipeHS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Leads",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "wipeHS",
				"description": " ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "wipeDW",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[wipe]"
				},
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "execTrollhunters",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "wipeHS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Trollhunters",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "IfOnlineThenPause",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetStatusEnd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals('Online',string(activity('GetStatusEnd').output.properties.status))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Pause",
							"description": "Pause",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "ScaleWebHook",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'/pause?api-version=2018-06-01-preview')",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "@string('')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						},
						{
							"name": "ScaleWebHook",
							"description": "https://s1events.azure-automation.net/webhooks?token=g%2faPH6fkV80NyOBzBggPBY5MslhWlhaJiZG6uxBJHbY%3d",
							"type": "WebHook",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"url": "https://s1events.azure-automation.net/webhooks?token=g%2faPH6fkV80NyOBzBggPBY5MslhWlhaJiZG6uxBJHbY%3d",
								"method": "POST",
								"body": {
									"WebhookName": "scaledw"
								},
								"timeout": "00:10:00"
							}
						}
					]
				}
			},
			{
				"name": "GetStatusEnd",
				"description": "Start",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "execTrollhunters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
						"type": "Expression"
					},
					"method": "GET",
					"body": {
						"value": "@string('')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			},
			{
				"name": "Notify",
				"description": "",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "execTrollhunters",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "execLeads",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-23.eastus2.logic.azure.com:443/workflows/a3b71278fcd74578912de49da8f0cc41/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=hDohhaBVFqS07vlHEOhum2ZLvhUnvyi1u9oqKBO5fRc",
					"method": "POST",
					"headers": {
						"Content-type": "application/json"
					},
					"body": {
						"value": "@concat('{\n   \"DataFactoryName\": \"',pipeline().DataFactory,'\",\n   \"PipelineName\": \"',pipeline().Pipeline,'\",\n   \"Subject\": \"An error has occurred!\",\n   \"ErrorMessage\": \"The ADF pipeline failed. Please check the activity log.\",\n   \"EmailTo\": \"',pipeline().parameters.Notify,'\"\n}')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "eaab21d5-8ecd-4ef0-a0c4-92fac2e22875"
			},
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "dw"
			},
			"Server": {
				"type": "string",
				"defaultValue": "hiramdw"
			},
			"DW": {
				"type": "string",
				"defaultValue": "dw"
			},
			"SLO": {
				"type": "string",
				"defaultValue": "DW1000c"
			},
			"Notify": {
				"type": "string",
				"defaultValue": "azure@fleitasarts.com"
			}
		},
		"annotations": []
	}
}