rig/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rig"
		},
		"dw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dw'"
		},
		"hf0524_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hf0524'"
		},
		"hf0524_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'hf0524'"
		},
		"hiram_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hiram'"
		},
		"hiramdw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hiramdw'"
		},
		"hiramdwmaster_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hiramdwmaster'"
		},
		"hiscale_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hiscale'"
		},
		"jldw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'jldw'"
		},
		"jldw_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'jldw'"
		},
		"jlhiramlaptop_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'jlhiramlaptop'"
		},
		"prod1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'prod1'"
		},
		"sqlva4onabrnvvfrkw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqlva4onabrnvvfrkw'"
		},
		"hf0524_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "UPCIC\\HFleitas"
		},
		"jldw_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "JLAMIRAMAR.com\\hfleitas"
		},
		"jlhiramlaptop_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\fleitasarts\\erp-data"
		},
		"jlhiramlaptop_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "JLAMIRAMAR.com\\hfleitas"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/JLA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StagingActiveItems",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_CLASS",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PART_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PART_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SKU",
											"type": "String"
										},
										"sink": {
											"name": "SKU",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEPARTMENT",
											"type": "String"
										},
										"sink": {
											"name": "DEPARTMENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MODEL",
											"type": "String"
										},
										"sink": {
											"name": "MODEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STYLE",
											"type": "String"
										},
										"sink": {
											"name": "STYLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COLOR",
											"type": "String"
										},
										"sink": {
											"name": "COLOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_SIZE",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_SIZE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BOOK_COST",
											"type": "Decimal"
										},
										"sink": {
											"name": "BOOK_COST",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_COST",
											"type": "Decimal"
										},
										"sink": {
											"name": "LAST_COST",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TOTAL_VALUE",
											"type": "Decimal"
										},
										"sink": {
											"name": "TOTAL_VALUE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PURCHASE_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "PURCHASE_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PURCHASE_UNIT",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASE_UNIT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALES_PRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "SALES_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SALES_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "SALES_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SALES_UNIT",
											"type": "String"
										},
										"sink": {
											"name": "SALES_UNIT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BACKORDER_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "BACKORDER_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ONHAND_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "ONHAND_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ONORDER_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "ONORDER_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EXPECTED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "EXPECTED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RESERVE_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "RESERVE_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MINIMUM_STOCK",
											"type": "Decimal"
										},
										"sink": {
											"name": "MINIMUM_STOCK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REORDER_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "REORDER_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SHIPPING_WEIGHT",
											"type": "Decimal"
										},
										"sink": {
											"name": "SHIPPING_WEIGHT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SALES_TAXABLE",
											"type": "String"
										},
										"sink": {
											"name": "SALES_TAXABLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PURCHASED",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVENTORIED",
											"type": "String"
										},
										"sink": {
											"name": "INVENTORIED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SOLD",
											"type": "String"
										},
										"sink": {
											"name": "SOLD",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BUILT",
											"type": "String"
										},
										"sink": {
											"name": "BUILT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SERIALIZED",
											"type": "String"
										},
										"sink": {
											"name": "SERIALIZED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SXACCCHT_EXPENSE_FK",
											"type": "Decimal"
										},
										"sink": {
											"name": "SXACCCHT_EXPENSE_FK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SXACCCHT_INCOME_FK",
											"type": "Decimal"
										},
										"sink": {
											"name": "SXACCCHT_INCOME_FK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SXACCCHT_ASSET_FK",
											"type": "Decimal"
										},
										"sink": {
											"name": "SXACCCHT_ASSET_FK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SXVEND_FK",
											"type": "Decimal"
										},
										"sink": {
											"name": "SXVEND_FK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_ITEM_ID",
											"type": "String"
										},
										"sink": {
											"name": "VENDOR_ITEM_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ASSOCIATION1",
											"type": "Decimal"
										},
										"sink": {
											"name": "ASSOCIATION1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ASSOCIATION2",
											"type": "Decimal"
										},
										"sink": {
											"name": "ASSOCIATION2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ASSOCIATION3",
											"type": "Decimal"
										},
										"sink": {
											"name": "ASSOCIATION3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ASSOCIATION4",
											"type": "Decimal"
										},
										"sink": {
											"name": "ASSOCIATION4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ASSOCIATION5",
											"type": "Decimal"
										},
										"sink": {
											"name": "ASSOCIATION5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ASSOCIATION6",
											"type": "Decimal"
										},
										"sink": {
											"name": "ASSOCIATION6",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ASSOCIATION7",
											"type": "Decimal"
										},
										"sink": {
											"name": "ASSOCIATION7",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ASSOCIATION8",
											"type": "Decimal"
										},
										"sink": {
											"name": "ASSOCIATION8",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PURCHASE_TAXABLE",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASE_TAXABLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NON_TANGIBLE",
											"type": "String"
										},
										"sink": {
											"name": "NON_TANGIBLE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STOCK_UNIT",
											"type": "String"
										},
										"sink": {
											"name": "STOCK_UNIT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DELETE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DELETE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DELETE_USER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "DELETE_USER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CREATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CREATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CREATE_USER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CREATE_USER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SXACCCHT_COS_FK",
											"type": "Decimal"
										},
										"sink": {
											"name": "SXACCCHT_COS_FK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PICKED_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "PICKED_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PACKAGED_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "PACKAGED_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ISSUED_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "ISSUED_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "HOLD_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "HOLD_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SXINVITM_REMAP_FK",
											"type": "Decimal"
										},
										"sink": {
											"name": "SXINVITM_REMAP_FK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DEPLETE_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "DEPLETE_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PENDING_QUANTITY",
											"type": "Decimal"
										},
										"sink": {
											"name": "PENDING_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MATERIAL_COST",
											"type": "Decimal"
										},
										"sink": {
											"name": "MATERIAL_COST",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LABOR_STANDARD",
											"type": "Decimal"
										},
										"sink": {
											"name": "LABOR_STANDARD",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PICK_CLASS",
											"type": "String"
										},
										"sink": {
											"name": "PICK_CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DIMENSION_WEIGHT",
											"type": "Decimal"
										},
										"sink": {
											"name": "DIMENSION_WEIGHT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SXVD_LIC_FK",
											"type": "Decimal"
										},
										"sink": {
											"name": "SXVD_LIC_FK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SXVD_DESC_FK",
											"type": "Decimal"
										},
										"sink": {
											"name": "SXVD_DESC_FK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LEAD_TIME",
											"type": "Decimal"
										},
										"sink": {
											"name": "LEAD_TIME",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SXGEN_SAFETYSTOCK_FK",
											"type": "String"
										},
										"sink": {
											"name": "SXGEN_SAFETYSTOCK_FK",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL1",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL2",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL3",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL4",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL5",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL6",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL7",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL8",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL9",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL9",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL10",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL11",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL11",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL12",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL12",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL13",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL13",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GENERAL14",
											"type": "String"
										},
										"sink": {
											"name": "GENERAL14",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISCONTINUED",
											"type": "String"
										},
										"sink": {
											"name": "DISCONTINUED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATIC_MATERIAL_COST",
											"type": "String"
										},
										"sink": {
											"name": "STATIC_MATERIAL_COST",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BOOLEAN2",
											"type": "String"
										},
										"sink": {
											"name": "BOOLEAN2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BOOLEAN3",
											"type": "String"
										},
										"sink": {
											"name": "BOOLEAN3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SXCLASS_FK",
											"type": "Decimal"
										},
										"sink": {
											"name": "SXCLASS_FK",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MAP_PRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "MAP_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RETAIL_PRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "RETAIL_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MASTER_PACK_QTY",
											"type": "Decimal"
										},
										"sink": {
											"name": "MASTER_PACK_QTY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_PER_PALLET",
											"type": "Decimal"
										},
										"sink": {
											"name": "QTY_PER_PALLET",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MASTER_PACK_UNIT_PRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "MASTER_PACK_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "MOD_BY",
											"type": "String"
										},
										"sink": {
											"name": "MOD_BY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MOD_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "MOD_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sx_inventory_items_active",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "jldwStagingItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sx_inventory_items_active')]",
				"[concat(variables('factoryId'), '/datasets/jldwStagingItems')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Leads')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "hf0524 to dw ",
				"activities": [
					{
						"name": "dwCustomer",
						"description": "copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dwCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "dwCustomerAccount",
						"description": "copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dwCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							},
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerAccountId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerAccountId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CustomerId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AcctNumEnding",
											"type": "Int32"
										},
										"sink": {
											"name": "AcctNumEnding",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCustomerAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dwCustomerAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "hsCustomer",
						"description": "copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hsCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "hsCustomerAccount",
						"description": "copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "hsCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							},
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerAccountId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerAccountId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CustomerId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AcctNumEnding",
											"type": "Int32"
										},
										"sink": {
											"name": "AcctNumEnding",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCustomerAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hsCustomerAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"concurrency": 1,
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqlCustomer')]",
				"[concat(variables('factoryId'), '/datasets/dwCustomer')]",
				"[concat(variables('factoryId'), '/datasets/sqlCustomerAccount')]",
				"[concat(variables('factoryId'), '/datasets/dwCustomerAccount')]",
				"[concat(variables('factoryId'), '/datasets/hsCustomer')]",
				"[concat(variables('factoryId'), '/datasets/hsCustomerAccount')]",
				"[concat(variables('factoryId'), '/linkedServices/sqlva4onabrnvvfrkw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Primer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IfPausedThenOnline",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetStatus",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals('Online',string(activity('GetStatus').output.properties.status)))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Resume",
									"description": "Start",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'/resume?api-version=2018-06-01-preview')",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@string('')",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net/"
										}
									}
								},
								{
									"name": "ScaleAPI",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Resume",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
											"type": "Expression"
										},
										"method": "PUT",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "@concat('{\"location\":\"eastus2\",\"properties\":{\"requestedServiceObjectiveName\": \"',pipeline().parameters.SLO,'\"}}')",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net/"
										}
									}
								}
							]
						}
					},
					{
						"name": "GetStatus",
						"description": "Start",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"body": {
								"value": "@string('')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net/"
							}
						}
					},
					{
						"name": "UntilOnline",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "IfPausedThenOnline",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals('Online',string(activity('GetStatusOnline').output.properties.status))\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "GetStatusOnline",
									"description": "Start",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {},
										"body": {
											"value": "@string('')",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net/"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "wipeDW",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UntilOnline",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.wipe"
						},
						"linkedServiceName": {
							"referenceName": "dw",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "execLeads",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wipeHS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Leads",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "wipeHS",
						"description": " ",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "wipeDW",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[wipe]"
						},
						"linkedServiceName": {
							"referenceName": "hiscale",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "execTrollhunters",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "wipeHS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Trollhunters",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "IfOnlineThenPause",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetStatusEnd",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals('Online',string(activity('GetStatusEnd').output.properties.status))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Pause",
									"description": "Pause",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "ScaleWebHook",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'/pause?api-version=2018-06-01-preview')",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@string('')",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net/"
										}
									}
								},
								{
									"name": "ScaleWebHook",
									"description": "https://s1events.azure-automation.net/webhooks?token=g%2faPH6fkV80NyOBzBggPBY5MslhWlhaJiZG6uxBJHbY%3d",
									"type": "WebHook",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"url": "https://s1events.azure-automation.net/webhooks?token=g%2faPH6fkV80NyOBzBggPBY5MslhWlhaJiZG6uxBJHbY%3d",
										"method": "POST",
										"headers": {},
										"body": {
											"WebhookName": "scaledw"
										},
										"timeout": "00:10:00"
									}
								}
							]
						}
					},
					{
						"name": "GetStatusEnd",
						"description": "Start",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "execTrollhunters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"body": {
								"value": "@string('')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net/"
							}
						}
					}
				],
				"parameters": {
					"SubscriptionID": {
						"type": "string",
						"defaultValue": "eaab21d5-8ecd-4ef0-a0c4-92fac2e22875"
					},
					"ResourceGroup": {
						"type": "string",
						"defaultValue": "dw"
					},
					"Server": {
						"type": "string",
						"defaultValue": "hiramdw"
					},
					"DW": {
						"type": "string",
						"defaultValue": "dw"
					},
					"SLO": {
						"type": "string",
						"defaultValue": "DW1000c"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw')]",
				"[concat(variables('factoryId'), '/pipelines/Leads')]",
				"[concat(variables('factoryId'), '/linkedServices/hiscale')]",
				"[concat(variables('factoryId'), '/pipelines/Trollhunters')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Scale')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetStatus",
						"description": "Start",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"body": {
								"value": "@string('')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net/"
							}
						}
					},
					{
						"name": "ScaleAPI",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ScaleWebHook",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2018-06-01-preview')",
								"type": "Expression"
							},
							"method": "PUT",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@concat('{\"location\":\"eastus2\",\"properties\":{\"requestedServiceObjectiveName\": \"',pipeline().parameters.SLO,'\"}}')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net/"
							}
						}
					},
					{
						"name": "ScaleWebHook",
						"description": "https://s1events.azure-automation.net/webhooks?token=gedxRKHcZ2FWzWTJx5wGavBsu8kBmk3LYMTWDzyjCDs%3d",
						"type": "WebHook",
						"dependsOn": [
							{
								"activity": "GetStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"url": "https://s1events.azure-automation.net/webhooks?token=gedxRKHcZ2FWzWTJx5wGavBsu8kBmk3LYMTWDzyjCDs%3d",
							"method": "POST",
							"headers": {},
							"body": {
								"WebhookName": "scaledw"
							},
							"timeout": "00:10:00"
						}
					}
				],
				"parameters": {
					"SubscriptionID": {
						"type": "string",
						"defaultValue": "eaab21d5-8ecd-4ef0-a0c4-92fac2e22875"
					},
					"ResourceGroup": {
						"type": "string",
						"defaultValue": "dw"
					},
					"Server": {
						"type": "string",
						"defaultValue": "hiramdw"
					},
					"DW": {
						"type": "string",
						"defaultValue": "dw"
					},
					"SLO": {
						"type": "string",
						"defaultValue": "DW200c"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trollhunters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": " ",
				"activities": [
					{
						"name": "dwCharacters",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [ᕙ༼,இܫஇ,༽ᕗ].dbo.Character"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dwCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "dwQuotes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dwCharacters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [tpcxbb_1gb].[dbo].[Quotes]"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dwQuotes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "hsCharacaters",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [ᕙ༼,இܫஇ,༽ᕗ].dbo.Character"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hsCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "hsQuotes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "hsCharacaters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [tpcxbb_1gb].[dbo].[Quotes]"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hsQuotes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqlCharacter')]",
				"[concat(variables('factoryId'), '/datasets/dwCharacter')]",
				"[concat(variables('factoryId'), '/datasets/dwQuotes')]",
				"[concat(variables('factoryId'), '/datasets/hsCharacter')]",
				"[concat(variables('factoryId'), '/datasets/hsQuotes')]",
				"[concat(variables('factoryId'), '/linkedServices/sqlva4onabrnvvfrkw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwCharacter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiramdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CharacterId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FullName",
						"type": "varchar"
					},
					{
						"name": "Affiliation",
						"type": "varchar"
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Aka",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Race",
						"type": "varchar"
					},
					{
						"name": "Age",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Home",
						"type": "varchar"
					},
					{
						"name": "Relatives",
						"type": "varchar"
					},
					{
						"name": "Weapons",
						"type": "varchar"
					},
					{
						"name": "EyeColor",
						"type": "varchar"
					},
					{
						"name": "HairColor",
						"type": "varchar"
					},
					{
						"name": "Minions",
						"type": "varchar"
					},
					{
						"name": "VoicedBy",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Character"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiramdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiramdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiramdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwCustomerAccount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiramdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CustomerAccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AcctNumEnding",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerAccount"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiramdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwQuotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiramdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "quoteid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "character",
						"type": "varchar"
					},
					{
						"name": "quote",
						"type": "nvarchar"
					},
					{
						"name": "sentiment",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "quotes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiramdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hsCharacter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CharacterId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FullName",
						"type": "varchar"
					},
					{
						"name": "Affiliation",
						"type": "varchar"
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Aka",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Race",
						"type": "varchar"
					},
					{
						"name": "Age",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Home",
						"type": "varchar"
					},
					{
						"name": "Relatives",
						"type": "varchar"
					},
					{
						"name": "Weapons",
						"type": "varchar"
					},
					{
						"name": "EyeColor",
						"type": "varchar"
					},
					{
						"name": "HairColor",
						"type": "varchar"
					},
					{
						"name": "Minions",
						"type": "varchar"
					},
					{
						"name": "VoicedBy",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Character"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiscale')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hsCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiscale')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hsCustomerAccount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerAccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AcctNumEnding",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerAccount"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiscale')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hsQuotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "quoteid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "character",
						"type": "varchar"
					},
					{
						"name": "quote",
						"type": "nvarchar"
					},
					{
						"name": "sentiment",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "quotes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiscale')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/jldwStagingItems')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jldw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "ITEM_CLASS",
						"type": "varchar"
					},
					{
						"name": "PART_NUMBER",
						"type": "varchar"
					},
					{
						"name": "SKU",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "CATEGORY",
						"type": "varchar"
					},
					{
						"name": "DEPARTMENT",
						"type": "varchar"
					},
					{
						"name": "MODEL",
						"type": "varchar"
					},
					{
						"name": "STYLE",
						"type": "varchar"
					},
					{
						"name": "COLOR",
						"type": "varchar"
					},
					{
						"name": "ITEM_SIZE",
						"type": "varchar"
					},
					{
						"name": "BOOK_COST",
						"type": "decimal",
						"precision": 14,
						"scale": 8
					},
					{
						"name": "LAST_COST",
						"type": "decimal",
						"precision": 14,
						"scale": 8
					},
					{
						"name": "TOTAL_VALUE",
						"type": "decimal",
						"precision": 15,
						"scale": 8
					},
					{
						"name": "PURCHASE_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "PURCHASE_UNIT",
						"type": "varchar"
					},
					{
						"name": "SALES_PRICE",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "SALES_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "SALES_UNIT",
						"type": "varchar"
					},
					{
						"name": "BACKORDER_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ONHAND_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ONORDER_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "EXPECTED_DATE",
						"type": "date"
					},
					{
						"name": "RESERVE_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "MINIMUM_STOCK",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "REORDER_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "SHIPPING_WEIGHT",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "SALES_TAXABLE",
						"type": "varchar"
					},
					{
						"name": "PURCHASED",
						"type": "varchar"
					},
					{
						"name": "INVENTORIED",
						"type": "varchar"
					},
					{
						"name": "SOLD",
						"type": "varchar"
					},
					{
						"name": "BUILT",
						"type": "varchar"
					},
					{
						"name": "SERIALIZED",
						"type": "varchar"
					},
					{
						"name": "SXACCCHT_EXPENSE_FK",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "SXACCCHT_INCOME_FK",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "SXACCCHT_ASSET_FK",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "SXVEND_FK",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "VENDOR_ITEM_ID",
						"type": "varchar"
					},
					{
						"name": "ASSOCIATION1",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ASSOCIATION2",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ASSOCIATION3",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ASSOCIATION4",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ASSOCIATION5",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ASSOCIATION6",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ASSOCIATION7",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ASSOCIATION8",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "PURCHASE_TAXABLE",
						"type": "varchar"
					},
					{
						"name": "NON_TANGIBLE",
						"type": "varchar"
					},
					{
						"name": "STOCK_UNIT",
						"type": "varchar"
					},
					{
						"name": "DELETE_DATE",
						"type": "date"
					},
					{
						"name": "DELETE_USER_ID",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "CREATE_DATE",
						"type": "date"
					},
					{
						"name": "CREATE_USER_ID",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "SXACCCHT_COS_FK",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "PICKED_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "PACKAGED_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "ISSUED_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "HOLD_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "SXINVITM_REMAP_FK",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "DEPLETE_FLAG",
						"type": "varchar"
					},
					{
						"name": "PENDING_QUANTITY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "MATERIAL_COST",
						"type": "decimal",
						"precision": 14,
						"scale": 8
					},
					{
						"name": "LABOR_STANDARD",
						"type": "decimal",
						"precision": 14,
						"scale": 8
					},
					{
						"name": "PICK_CLASS",
						"type": "varchar"
					},
					{
						"name": "DIMENSION_WEIGHT",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "SXVD_LIC_FK",
						"type": "decimal",
						"precision": 12,
						"scale": 0
					},
					{
						"name": "SXVD_DESC_FK",
						"type": "decimal",
						"precision": 12,
						"scale": 0
					},
					{
						"name": "LEAD_TIME",
						"type": "decimal",
						"precision": 8,
						"scale": 0
					},
					{
						"name": "SXGEN_SAFETYSTOCK_FK",
						"type": "varchar"
					},
					{
						"name": "GENERAL1",
						"type": "varchar"
					},
					{
						"name": "GENERAL2",
						"type": "varchar"
					},
					{
						"name": "GENERAL3",
						"type": "varchar"
					},
					{
						"name": "GENERAL4",
						"type": "varchar"
					},
					{
						"name": "GENERAL5",
						"type": "varchar"
					},
					{
						"name": "GENERAL6",
						"type": "varchar"
					},
					{
						"name": "GENERAL7",
						"type": "varchar"
					},
					{
						"name": "GENERAL8",
						"type": "varchar"
					},
					{
						"name": "GENERAL9",
						"type": "varchar"
					},
					{
						"name": "GENERAL10",
						"type": "varchar"
					},
					{
						"name": "GENERAL11",
						"type": "varchar"
					},
					{
						"name": "GENERAL12",
						"type": "varchar"
					},
					{
						"name": "GENERAL13",
						"type": "varchar"
					},
					{
						"name": "GENERAL14",
						"type": "varchar"
					},
					{
						"name": "DISCONTINUED",
						"type": "varchar"
					},
					{
						"name": "STATIC_MATERIAL_COST",
						"type": "varchar"
					},
					{
						"name": "BOOLEAN2",
						"type": "varchar"
					},
					{
						"name": "BOOLEAN3",
						"type": "varchar"
					},
					{
						"name": "SXCLASS_FK",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "MAP_PRICE",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "RETAIL_PRICE",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "MASTER_PACK_QTY",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "QTY_PER_PALLET",
						"type": "decimal",
						"precision": 14,
						"scale": 0
					},
					{
						"name": "MASTER_PACK_UNIT_PRICE",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "MOD_BY",
						"type": "varchar"
					},
					{
						"name": "MOD_DATE",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "StagingItems"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/jldw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jlhiramlaptop",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/jlhiramlaptop')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlCharacter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "hf0524.",
				"linkedServiceName": {
					"referenceName": "hf0524",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "quoteid",
						"type": "Int32"
					},
					{
						"name": "character",
						"type": "String"
					},
					{
						"name": "quote",
						"type": "String"
					},
					{
						"name": "sentiment",
						"type": "Double"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hf0524')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hf0524",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hf0524')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlCustomerAccount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hf0524",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CustomerAccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AcctNumEnding",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerAccount"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hf0524')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sx_inventory_items_active')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "oracle view",
				"linkedServiceName": {
					"referenceName": "prod1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "JLAUDIO",
					"table": "SX_INVENTORY_ITEMS_ACTIVE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/prod1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "hiramdw.database.windows.net",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('dw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hf0524')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "desktop",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('hf0524_connectionString')]",
					"userName": "[parameters('hf0524_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('hf0524_password')]"
					}
				},
				"connectVia": {
					"referenceName": "hf0524",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hf0524')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiram')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "localhost",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('hiram_connectionString')]"
				},
				"connectVia": {
					"referenceName": "hiram",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hiram')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiramdw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('hiramdw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiramdwmaster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('hiramdwmaster_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiscale')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('hiscale_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jldw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('jldw_connectionString')]",
					"userName": "[parameters('jldw_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('jldw_password')]"
					}
				},
				"connectVia": {
					"referenceName": "jlaudio",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/jlaudio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/jlhiramlaptop')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('jlhiramlaptop_properties_typeProperties_host')]",
					"userId": "[parameters('jlhiramlaptop_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('jlhiramlaptop_password')]"
					}
				},
				"connectVia": {
					"referenceName": "jlaudio",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/jlaudio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('prod1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "jlaudio",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/jlaudio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlva4onabrnvvfrkw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('sqlva4onabrnvvfrkw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/every 15 minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2019-06-27T22:28:00.000Z",
					"endTime": "2019-06-28T01:00:00.000Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hf0524')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiram')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jlaudio')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "hiram laptop",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/laptop')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "R90GTU6N",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}