rig/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "rig"
		},
		"dw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dw'"
		},
		"hf0524_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hf0524'"
		},
		"hf0524_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'hf0524'"
		},
		"hiram_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hiram'"
		},
		"hiramdw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hiramdw'"
		},
		"sqlva4onabrnvvfrkw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqlva4onabrnvvfrkw'"
		},
		"hiscale_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hiscale'"
		},
		"hf0524_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "UPCIC\\HFleitas"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Leads')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "hf0524 to dw",
				"activities": [
					{
						"name": "dwCustomer",
						"description": "copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dwCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "dwCustomerAccount",
						"description": "copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dwCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							},
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerAccountId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerAccountId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CustomerId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AcctNumEnding",
											"type": "Int32"
										},
										"sink": {
											"name": "AcctNumEnding",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCustomerAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dwCustomerAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "hsCustomer",
						"description": "copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dwCustomerAccount",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hsCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "hsCustomerAccount",
						"description": "copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "hsCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							},
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerAccountId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerAccountId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CustomerId",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AcctNumEnding",
											"type": "Int32"
										},
										"sink": {
											"name": "AcctNumEnding",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCustomerAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hsCustomerAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"concurrency": 1,
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqlCustomer')]",
				"[concat(variables('factoryId'), '/datasets/dwCustomer')]",
				"[concat(variables('factoryId'), '/datasets/sqlCustomerAccount')]",
				"[concat(variables('factoryId'), '/datasets/dwCustomerAccount')]",
				"[concat(variables('factoryId'), '/datasets/hsCustomer')]",
				"[concat(variables('factoryId'), '/datasets/hsCustomerAccount')]",
				"[concat(variables('factoryId'), '/linkedServices/sqlva4onabrnvvfrkw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trollhunters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dwCharacters",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [ᕙ༼,இܫஇ,༽ᕗ].dbo.Character"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dwCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "dwQuotes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dwCharacters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [tpcxbb_1gb].[dbo].[Quotes]"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dwQuotes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "hsCharacaters",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dwQuotes",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [ᕙ༼,இܫஇ,༽ᕗ].dbo.Character"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hsCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "hsQuotes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "hsCharacaters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [tpcxbb_1gb].[dbo].[Quotes]"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCharacter",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "hsQuotes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqlCharacter')]",
				"[concat(variables('factoryId'), '/datasets/dwCharacter')]",
				"[concat(variables('factoryId'), '/datasets/dwQuotes')]",
				"[concat(variables('factoryId'), '/datasets/hsCharacter')]",
				"[concat(variables('factoryId'), '/datasets/hsQuotes')]",
				"[concat(variables('factoryId'), '/linkedServices/sqlva4onabrnvvfrkw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwCharacter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiramdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CharacterId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FullName",
						"type": "varchar"
					},
					{
						"name": "Affiliation",
						"type": "varchar"
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Aka",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Race",
						"type": "varchar"
					},
					{
						"name": "Age",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Home",
						"type": "varchar"
					},
					{
						"name": "Relatives",
						"type": "varchar"
					},
					{
						"name": "Weapons",
						"type": "varchar"
					},
					{
						"name": "EyeColor",
						"type": "varchar"
					},
					{
						"name": "HairColor",
						"type": "varchar"
					},
					{
						"name": "Minions",
						"type": "varchar"
					},
					{
						"name": "VoicedBy",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Character"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiramdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiramdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiramdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwCustomerAccount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiramdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CustomerAccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AcctNumEnding",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerAccount"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiramdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwQuotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiramdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "quoteid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "character",
						"type": "varchar"
					},
					{
						"name": "quote",
						"type": "nvarchar"
					},
					{
						"name": "sentiment",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "quotes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiramdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlCharacter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "hf0524.",
				"linkedServiceName": {
					"referenceName": "hf0524",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "quoteid",
						"type": "Int32"
					},
					{
						"name": "character",
						"type": "String"
					},
					{
						"name": "quote",
						"type": "String"
					},
					{
						"name": "sentiment",
						"type": "Double"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hf0524')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hf0524",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hf0524')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlCustomerAccount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hf0524",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CustomerAccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AcctNumEnding",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerAccount"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hf0524')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "hiramdw.database.windows.net",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('dw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hf0524')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "desktop",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('hf0524_connectionString')]",
					"userName": "[parameters('hf0524_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('hf0524_password')]"
					}
				},
				"connectVia": {
					"referenceName": "hf0524",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hf0524')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiram')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "localhost",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('hiram_connectionString')]"
				},
				"connectVia": {
					"referenceName": "hiram",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hiram')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiramdw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('hiramdw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlva4onabrnvvfrkw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('sqlva4onabrnvvfrkw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/every 15 minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2019-06-27T22:28:00.000Z",
					"endTime": "2019-06-28T01:00:00.000Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hf0524')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiram')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/laptop')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "R90GTU6N",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hiscale')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('hiscale_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hsCharacter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CharacterId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FullName",
						"type": "varchar"
					},
					{
						"name": "Affiliation",
						"type": "varchar"
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Aka",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Race",
						"type": "varchar"
					},
					{
						"name": "Age",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Home",
						"type": "varchar"
					},
					{
						"name": "Relatives",
						"type": "varchar"
					},
					{
						"name": "Weapons",
						"type": "varchar"
					},
					{
						"name": "EyeColor",
						"type": "varchar"
					},
					{
						"name": "HairColor",
						"type": "varchar"
					},
					{
						"name": "Minions",
						"type": "varchar"
					},
					{
						"name": "VoicedBy",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Character"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiscale')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hsQuotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "quoteid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "character",
						"type": "varchar"
					},
					{
						"name": "quote",
						"type": "nvarchar"
					},
					{
						"name": "sentiment",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "quotes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiscale')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hsCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiscale')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hsCustomerAccount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiscale",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerAccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AcctNumEnding",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerAccount"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hiscale')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Primer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetStatus",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Sql/servers/',pipeline().parameters.Server,'/databases/',pipeline().parameters.DW,'?api-version=2019-08-01')",
							"method": "POST",
							"headers": {},
							"body": "@string('')",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net/"
							}
						}
					}
				],
				"parameters": {
					"SubscriptionID": {
						"type": "string",
						"defaultValue": "eaab21d5-8ecd-4ef0-a0c4-92fac2e22875"
					},
					"ResourceGroup": {
						"type": "string",
						"defaultValue": "dw"
					},
					"Server": {
						"type": "string",
						"defaultValue": "hiramdw"
					},
					"DW": {
						"type": "string",
						"defaultValue": "dw"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}