rig/PartialArmTemplates/ArmTemplate_8_9_2019_19_10_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "rig"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Trollhunters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Characters",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [ᕙ༼,இܫஇ,༽ᕗ].dbo.Character"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CharacterId"
										},
										"sink": {
											"name": "CharacterId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FullName"
										},
										"sink": {
											"name": "FullName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Affiliation"
										},
										"sink": {
											"name": "Affiliation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Category"
										},
										"sink": {
											"name": "Category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Aka"
										},
										"sink": {
											"name": "Aka",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Status"
										},
										"sink": {
											"name": "Status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Race"
										},
										"sink": {
											"name": "Race",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Age"
										},
										"sink": {
											"name": "Age",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Home"
										},
										"sink": {
											"name": "Home",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Relatives"
										},
										"sink": {
											"name": "Relatives",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Weapons"
										},
										"sink": {
											"name": "Weapons",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EyeColor"
										},
										"sink": {
											"name": "EyeColor",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HairColor"
										},
										"sink": {
											"name": "HairColor",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Minions"
										},
										"sink": {
											"name": "Minions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VoicedBy"
										},
										"sink": {
											"name": "VoicedBy",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCharacter",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dwCharacter",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Quotes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Characters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "sqlva4onabrnvvfrkw",
									"type": "LinkedServiceReference"
								},
								"path": "adfstaging"
							}
						},
						"inputs": [
							{
								"referenceName": "sqlQuotes",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dwQuotes",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqlQuotes')]",
				"[concat(variables('factoryId'), '/datasets/dwQuotes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlQuotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hf0524",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "quoteid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "character",
						"type": "varchar"
					},
					{
						"name": "quote",
						"type": "nvarchar"
					},
					{
						"name": "sentiment",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "quotes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dwQuotes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hiramdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "quoteid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "character",
						"type": "varchar"
					},
					{
						"name": "quote",
						"type": "nvarchar"
					},
					{
						"name": "sentiment",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "quotes"
				}
			},
			"dependsOn": []
		}
	]
}